.category-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 2px; /* Reduced gap between items */
    padding: 20px;
  }
  
  .category {
    text-align: center;
  }
  
  .category img {
    width: 100%;
    height: 500px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
  }
  
  .category p {
    margin-top: 8px;
    font-size: 40px;
  }